.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-right: 40px;
  position: fixed;
  width: 100%;
  z-index: 99999;
  /* background-color: black; */
}

.bars {
  font-size: 20px;
  /* background-color: red; */
}
.nonbars {
  font-size: 20px;
  color: #878a8f;
}

.menuMainDiv {
  position: fixed;
  top: 60px;
  z-index: 9999;
  color: #878a8f;
  background-color: #0f141e;
  height: 100%;
  width: 100%;
}
.align {
  display: flex;
  justify-content: center;
}
.ul {
  list-style: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
