.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-right: 40px;
    position: fixed;
    width: 100%;
    z-index: 3;
    /* background-color: black; */
  }

  .bars {
    font-size: 20px;
    /* background-color: red; */
  }

 
