@import "bootstrap/dist/css/bootstrap.css";
@import "@fortawesome/fontawesome-svg-core/styles.css";
@import url("./styles/helvetica_black/style.css");
@import url("./styles/helvetica_light/style.css");

body {
  font-family: "Helvetica Now Display Light", serif;
  overflow: scroll;
  overflow-x: hidden;
  margin-left: 20px;
  margin-right: 20px;
}
.active-menu {
  overflow: hidden !important;
  background-color: #0f141e;
  color: #878a8f;
}
.nonactive-menu {
  overflow: scroll;
}

/* general styles for the general tags */

h5 {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 0.875em;
  font-weight: 400;
  color: #878a8f;
}

h3 {
  font-family: "Helvetica Now Display";
  color: #0f141e;
  margin-bottom: 20px;
  letter-spacing: normal;
}

h4 {
  font-weight: 500;
  color: #0f141e;
  letter-spacing: normal;
  font-size: 1.25rem;
  line-height: 1.6rem;
  padding-top: 1px;
  padding-bottom: 4px;
  font-family: "Helvetica Now Display Light", sans-serif;
}

a {
  color: #000000 !important;
  font-family: "Helvetica Now Display" !important;
  text-decoration: none;
  text-transform: capitalize;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

h1 {
  color: #000000;
  font-size: 3.5em;
  font-family: "Helvetica Now Display", sans-serif;
  line-height: 3rem;
}

h2 {
  color: #000000;
  font-size: 2em;
  font-family: "Helvetica Now Display", sans-serif;
  line-height: 1;
}

p {
  font-family: "Helvetica Now Display Light";
  color: #6c757d;
}

/* home styles /intro component */

.developer {
  display: flex;
  justify-content: center;
  text-shadow: 6px 6px 80px hsla(0, 0%, 94%, 0.825);
  color: hsla(0, 0%, 100%, 0.97);
  font-size: 10em;
  width: 100%;
  font-family: "Helvetica Now Display";
}

.main-cont {
  position: relative;
  bottom: 5em;
}

.card-component {
  width: min(100%, 500px);
  height: 500px;
  border: #6c757d 1px solid;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(130, 128, 128, 0.322);
  cursor: pointer;

  > div > img {
    display: block;
    width: 75%;
    height: 100%;
    margin: 0 auto;
  }
  > h5 {
    height: 5%;
  }
  > div {
    height: 75%;
  }
  > h2 {
    height: 10%;
  }
}

.card-component:hover {
  background-color: paleturquoise;
  transition: all 1s;
}

.cards-father {
  height: 85em;
}

.overflow img {
  overflow-x: hidden;
  overflow-y: hidden;
}

.viewport-screen-100 {
  width: 100vw;
  height: 100vh;
}

/* Navbar styling */
.blacklogo {
  color: #0f141e;
}
.whitelogo {
  color: #878a8f;
}

.logo:hover {
  color: #a4abb0;
  transition: color 1s;
}

/* Portfolio component styles */
.card-project-container {
  justify-content: center;
  margin: 0 auto;
}

/* read about me classes */

.h3class-about {
  color: #878a8f;
  font-family: "Helvetica Now Display Light" !important;
  font-size: 1.375rem;
}

.margin-separation {
  margin-top: 100px;
}

h3 strong {
  color: #878a8f;
}

.linkedin {
  color: #878a8f;
  border-bottom: 1px solid;
  font-weight: lighter;
  font-family: "Now Display Light";
}

.linkedin:hover {
  color: #878a8f;
  border-bottom: none !important;
}
.carousel-inner {
  width: 100%;
  height: 500px;
}

/* contact classes */

.crmap-size {
  > img {
    width: 100%;
    height: 310px;
  }
}
.input-container input {
  background: #fff;
  width: 100%;
  height: 45px;
  font-size: 1.125rem;
  line-height: 1.875rem;
  font-weight: 500;
  color: #000000;
  padding: 8px 0 6px 0;
  border: 1px solid #e7e8e9;
  border-width: 0 0 1px 0;
  margin-bottom: 40px;
}
.input-container label {
  color: #878a8f;
}

.input-container input:focus {
  outline: none;
}
::placeholder {
  color: #000000;
}
select {
  background: #fff;
  width: 100%;
  color: #0f141e;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-weight: 500;
  cursor: pointer;
  padding: 1px 50px 0 20px;
  border: 1px solid #e7e8e9;
}

.message-input {
  width: 100%;
  height: auto;
  resize: none;
  font-size: 1.125rem;
  font-weight: 500;
  outline: none;
  border: 1px solid #e7e8e9;
  border-width: 0 0 1px 0;
}

.got-a-project {
  color: #878a8f;
}
.message-section button {
  background-color: #fff;
  border: none;
  font-size: 1.425rem;
  line-height: 1.875rem;
  font-weight: 800;
}
.submit-class {
  margin-top: 50px;
  margin-bottom: 60px;
}

/* project styling */

.project-section p {
  font-size: 1.375rem;
  color: black;
}
.project-section div {
  margin-bottom: 30px;
}

.project-section .paragraph-section p {
  color: #878a8f;
}
.image-section {
  > img {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
  }
  > img:first-child {
    margin-top: 30px;
  }
}

/* nextProject component classes */
.main-div {
  margin-top: 50px;
}
.horizon-top {
  margin-top: 50px;
  margin-bottom: 40px;
}
/* MEDIA QUERIES START HERE */

@media (max-width: 950px) {
  .mobile {
    position: relative;
    top: 200px;
  }

  .mobile-about {
    position: relative;
    top: 100px;
  }

  .centering {
    margin-bottom: 80px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .text {
    margin-right: 0.5rem;
    white-space: nowrap; /* Evita el salto de línea del texto */
    font-size: 2.125rem;
    line-height: 2.5rem;
    padding-top: 2px;
    padding-bottom: 3px;
    color: red;
    text-decoration: none;
  }

  .developer {
    display: none;
  }

  h2 {
    font-size: 1em;
  }

  h1 {
    font-size: 2em;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.2em;
    line-height: 1.5em;
  }

  .mainBox-about {
    width: 100% !important;
  }

  body {
    margin-left: 10px;
    margin-right: 0px;
    width: 100% !important;
  }
}

@media (min-width: 950px) {
  .centering {
    padding-bottom: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .large-screen {
    position: relative;
    top: 150px;
  }
  .card-h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 765px) {
  .center-needadeveloper-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .text {
    margin-right: 0.5rem;
    white-space: nowrap; /* Evita el salto de línea del texto */
    font-size: 3.875rem;
    line-height: 4.0625rem;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .mainBox-about {
    display: block;
    text-align: center;
    width: 75% !important;
    margin-left: auto;
    margin-right: auto;
  }
  .margin-separation {
    margin-top: 100px;
    width: 85%;
    margin: 0 auto;
  }
  .got-a-project {
    color: #878a8f;
    width: 85%;
    font-size: 1.375rem;
  }

  .input-container {
    width: 85%;
  }

  .crmap-size {
    width: 85%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 765px) and (max-width: 950px) {
  .large-screen {
    position: relative;
    top: 250px;
  }
}
.color-link {
  color: red;
  text-decoration: none;
}
