@import 'bootstrap/dist/css/bootstrap.css';
@import '@fortawesome/fontawesome-svg-core/styles.css';
@import url("./styles/helvetica_black/style.css");
@import url("./styles/helvetica_light/style.css");

body{
  font-family: 'Helvetica Now Display Light', serif;
  overflow: scroll;
  overflow-x: hidden;
  margin-left:20px;
  margin-right: 20px;
}

/* general styles for the general tags */

h5{
  text-transform:uppercase;
  letter-spacing: 0.2em;
  font-size: 0.8em;
  line-height: 0px;
  color: #878a8f;
}
h3{
  /* text-transform:capitalize; */
  font-family:'Helvetica Now Display';
  color: #0f141e;
  margin-bottom: 20px;
  letter-spacing: normal;
  /* background-color: red; */
}
a{
  color:#000000;
  font-family:'Helvetica Now Display';
  text-decoration: none;
  text-transform: capitalize;
 
}
a:hover{
color:#000000;
text-decoration:underline;
}

h1{
  color:#000000;
  font-size: 3.5em;
  font-family: 'Helvetica Now Display', sans-serif;
  line-height: 3rem;
  
 }
 h2{
  color:#000000;
  font-size: 2em;
  font-family: 'Helvetica Now Display', sans-serif;
  line-height: 1;
 }

 p{
  font-family: 'Helvetica Now Display Light';
  color:#6c757d;
 }

/* home styles /intro component */

.developer {
  display: flex;
  justify-content: center;
  text-shadow: 6px 6px 80px hsla(0,0%,94%,.825);
  color: hsla(0,0%,100%,.97);
  font-size: 10em;
  width: 100%;
  font-family:'Helvetica Now Display' ;
}
  

.main-cont{
  position: relative;
  bottom: 5em;
}

.card-componet{
  width: min(100%,500px);
  /* background-color: pink; */
  height:500px;
  border: #6c757d 1px solid;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(130, 128, 128, 0.322);
  
  >div > img{ 
    display: block;
    width:75%;
    height: 100%;
    margin: 0 auto;
  }
>h5{
  height: 5%;
}
>div{
  height: 75%;
}
>h2{
  height: 10%;
}

}

.w-4{
  width: 4%;
  /* background-color: black; */
}
.cards-father{
  height: 85em;
  /* background-color: aqua; */
}

.overflow img{
  overflow-x: hidden;
  overflow-y: hidden;
  
}

.viewport-screen-100{
  width: 100vw;
  height: 100vh;
  

}
/* Portfolio component styles */
.card-project-container{
  justify-content: center;
  margin: 0 auto;
}

/* MEDIA QUERIES START HERE */

@media (max-width: 950px){
  .mobile{
    position:relative;
    top: 200px;
  }
  .centering{

    margin-bottom: 80px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
  .text {
    margin-right: 0.5rem;
    white-space: nowrap; /* Evita el salto de línea del texto */
    /* background-color: red; */
    font-size: 2.125rem;
    line-height: 2.5rem;
    padding-top: 2px;
    padding-bottom: 3px;
  }
  
    
  .developer{
    display: none;
  }
  h2{
    font-size: 1em;
  }
}
@media (min-width: 950px){
.large-screen{
  position:relative;
    top: 150px;
}
.centering{

  margin-bottom: 80px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

}

@media (min-width: 765px){
  .center-needadeveloper-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }


  .text {
    margin-right: 0.5rem;
    white-space: nowrap; /* Evita el salto de línea del texto */
    font-size: 3.875rem;
    line-height: 4.0625rem;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .large-screen{
    position:relative;
      top: 150px;

  }
}

/* read about me classes */

.mainBox-about{
  display: block;
  /* justify-content: center; */
  text-align: center;
  width: 75%!important;
  margin-left: auto;
  margin-right: auto;
}

.h3class-about{
  color: #878a8f;
  font-family: 'Helvetica Now Display Light' !important;
  font-size: 1.375rem

}









